:root {
  --base: #1c7fea;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  width: 800px;
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
  background: #362566;
  color: white;
  font-family: "helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 45px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

#byAmi {
  font-size: 20px;
  font-style: italic;
}

#byAmi a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

#byAmi a:hover {
  color: #1c7fea;
  transition: ease-in-out 0.25s;
}
